* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: url('./login\ page\ bg.jpg ')no-repeat;
    background-size: cover;
}
.login-page {
    width: 350px;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    
}
.login-page h1 {
    font-family: sans-serif;
    font-size: 30px;
    text-align: centre;
    
    margin: 40px 0;
}
.login-page p {
    font-size: 18px;
    margin: 10px 0;

}
.login-page input {
    font-size: 16px;
    width: 100%;
    padding: 10px 10px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.login-page button {
    font-size: 10px;
    font-weight: bold;
    margin: 30px 190px;
    padding: 10px 40px;
    width: 50%;
    border-radius: 10px;
    border: 0;
    

}