
body{
    /* background-image: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bg6.jpg')  ; */
    background-image: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bgc.png')  ;


    background-repeat: no-repeat;
    background: cover;
    
    
}
.logo{
    margin-top: 61px;
    margin-left: 483px;
    margin-bottom: -104px;
}
.home{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    border: solid 10px black ;
    border-radius: 20px;
    background-color: #b7e1ea;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.write{
    margin-top: 30px;
    margin-left: 10px;
}
.name{
    margin-left: 340px;
    display: block;
    margin-top: 171px;
    font-size: 113px;
    color: black;
    text-shadow: 2px 2px #a7a4a4;

    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    font-family: 'Acme', sans-serif;
    
}
.tagline{
    margin-left: 470px;
    display: block;
    margin-top: -57px;
    font-size: 35px;
    color: black;
    text-shadow: 2px 2px #a7a4a4;
    font-family: 'Cookie', cursive;

}
button{
    margin-left: -75px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-family: 'Itim', cursive;
    font-size: 21px;
    margin-bottom: 62px;
}
.btn {
    margin-left: 594px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-family: 'Itim', cursive;
    font-size: 21px;
    text-decoration: none;
}
button:hover{
    cursor: pointer;
    color: blue;
}
h1{
    margin-top: 17px;
    margin-left: 94px;
    font-size: 51px;
    font-family: 'Itim', cursive;
    margin-bottom: 60px;
}
.head{
    margin-top: -418px;
    margin-left: 504px;
    font-size: 51px;
    font-family: 'Itim', cursive;
    margin-bottom: 402px;
}
/* topics on which blog is available */
.con{
    border: solid 10px black;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
margin-left: 50px;
margin-right: 50px;
margin-top: 119px;
/* background: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bg11.jpg'); */
background: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bge.png');
background-repeat: no-repeat;


}
/* Features */
.find{
margin-top: 100px;
margin-left: 50px;
margin-bottom: 151px;
}
.features{
    margin-top: -348px;
    margin-left: 484px;
    font-size: 35px;
    font-family: 'Cookie', cursive;


}
.read{
    margin-top: 100px;
    margin-left: 698px;
}
.topics{
margin-left: 50px;
margin-right: 50px;
text-align: center;
border: solid 10px black;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

margin-top: 119px;
/* background: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bg11.jpg'); */
background: url('C:/Users/Nivedita/OneDrive/Desktop/IITISOC images/bge.png');
background-repeat: no-repeat;

}
.img1{
    margin-left: -552px;
    margin-top: -160px;
    margin-bottom: -87px;
}
/* .img2{
    margin-left: 612px;
    margin-top: -160px;
    margin-bottom: 52px;
} */
.genre{
    margin-top: 62px;
    margin-left: 100px;
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;

}
.genre li{
    border: solid black;
    padding: 28px;
    border-radius: 13px;
    margin-left: -62px;
    margin-right: 333px;
    background-color:#7e7ad1;
    box-shadow: 0 4px 8px 0 rgba(40, 12, 12, 0.78), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    font-size: 20px;
box-sizing: content-box;
font-family: 'Itim', cursive;

}
.pic1{
    margin-left: 568px;
    margin-bottom: 10px;
    margin-top: 0px;
}
.pic2{
    margin-left: 23px;
    margin-bottom: 45px;
    margin-top: -357px;
}
.img{
    margin-left: -13px;
    margin-top: 115px;
    padding: 5px;
}
.desc{
    border: solid black;
    padding: 51px;
    margin-top: -206px;
    border-radius: 57px;
    margin-left: 656px;
    margin-right: 187px;
    background-color: #a9cacb;
    font-family: 'Cookie', cursive;
font-size: 25px;
margin-bottom: 150px;
}
.details{
    background:black;
    border-radius: 10px;
    margin-top: 127px;
color: white;
font: 15px;
}
.center{
    background:black;
 color: aliceblue;
 margin-left: 2px;
}
.pic{
    margin-top: -6px;
    padding: 5px;
    margin-left: -14px;
    /* border: solid black; */
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   */
}  
.para{
    margin-top: 100px;
    margin-left: 758px;
    padding: 10px;
    border: solid black;
    margin-bottom: 100px;
    
    border-radius: 10px;
    margin-right: 107px;
    background-color: #a9cacb;

}