{% extends "base.html" %}
 {% block head %}
 <title>Perspective-FrontPage</title>
<link rel="stylesheet" href="../static/perspective.css">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Itim&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Cookie&family=Edu+QLD+Beginner&family=Itim&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Edu+QLD+Beginner&family=Itim&display=swap" rel="stylesheet">

 {% endblock %} 

{% block content%}
    <div class="container">
        <div class="logo">
              <img src="../static/logofinal.png" alt="" class="logo">  
        </div>
        <div class="home">
            <!-- <img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\write-removebg-preview.png" alt="" class="write"> -->
    <h1 class="name">Perspective..</h1>
    <h2 class="tagline">Read , Write and Connect</h2>
    <a href="second.html" class="btn"><button>  Get Started</button></a>
        </div>
    <div class="info">
        <!-- <div class="img"><img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\web_image_2-removebg-preview.png" alt=""></div>
        <h1>What can you find here ?</h1>
          <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sunt, delectus repellat et repellendus odit at autem laudantium veniam suscipit exercitationem nam necessitatibus nisi excepturi, ipsa tenetur placeat vel esse!</p> -->

<div class="con">
    <img src="../static/find.jpeg" alt="" class="find">
          <h1 class="head">What features do we offer ? </h1>
<ul class="features">
    <li>Follow writers and topics you like.</li>
    <li>Save posts for later.</li>
    <li>Visit the profile of your favourite writer.</li>
    <li>Explore different topics.</li>
</ul>

</div>

    <div class="topics">
        <img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\web_image_2-.png" alt="" class="img1">
        <h1>Pool of topics available</h1>
        <!-- <img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\web_image_2-removebg-preview.png" alt="" class="img2"> -->
        <ul class="genre">
            <li>FINANCE</li>
            <LI>LIFE </LI>
            <li>MOTIVATION</li>

        </ul>
        <ul class="genre 1 ">
            <li>DANCE</li>
            <LI>MUSIC</LI>
            <li>DRAMA</li>

        </ul>
        <ul class="genre 2">
            <li>GAMES</li>
            <li>COLLEGE LIFE</li>
            <li>TECHNOLOGY</li>
        </ul>


<!-- <img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\web image.jpeg" alt="" class="pic1"> -->
<!-- <img src="C:\Users\Nivedita\OneDrive\Desktop\IITISOC images\quote1.jpeg" alt="" class="pic2"> -->
    </div>
    </div>
    </div>
    <div class="details">
        <ul>
        <h1> Contact Us</h1>

         <h2>   Email-id : yourperspective@gmail.com </h2>
         <h2>  Mobile number : 1122334455 </h2>


        </ul>


    </div>


    </div>
    <footer>
        <div class="center">
            Copyright &copy;Perspective.com.All rights reserved.
        </div>
    </footer>
    {% endblock %} 