{% extends "base.html" %}
 {% block head %}
 <title>SignUp Page</title>
    <link rel="stylesheet" type="text/css" href="../static/signup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
 {% endblock %} 

{% block content %}
    <form method="POST">
      <div class="form-group">
        <br>
        <br>
        <br>
          <h1 style="font-family: 'Cookie', cursive;">Welcome!</h1>
          
              <label for="name">Your Full Name</label>
              <br>
              <input type="text" name="name" id="name" class="form-control" placeholder="Name">
              <br>
              <label for="email">Institute Email Id</label>
              <br>
              <input type="text" name="email" id="email" class="form-control" placeholder="Email ID">
              <br>
              <label for="password1">Password</label>    
              <br>
              <input type="password" name="password1" id="password1" class="form-control" placeholder="Password">
              <br>
              <label for="password2">Re-enter your Password</label>
              <br>
              <input type="password" name="password2" id="password2" class="form-control" placeholder=" Confirm Password">
              
              <br>
              <button type="submit"><b>Sign Up</b></button>
          
      </div>
      </form>
    {% endblock %}