.whole {
    background-color: #b7e1ea;
    width: 10%;
    height: 585px;
    float: left;
}
.total 
{
    float: left;
    width: 75%;
}
.third {
    background-color: #b7e1ea;
    width: 15%;
    height: 585px;
    float: right;
}
.one {
    padding-top: 100px;
}
.two {
    padding-top: 50px;
}
.three {
    padding-top: 50px;
}
.four {
    padding-top: 50px;
}
.five {
    padding-top: 50px;
}
.stories {
    margin-left: 100px;
    display: flex;
}
.niv {
  width: 300px;
}
.man {
  width: 300px;
  padding-left: 150px;
}
.nivi {
padding-top: 50px;
}
.mani {
    padding-top: 50px;
}
.six {
    padding-top: 25px;
}
